<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="dark scroll-smooth">
<head>
    <meta charset="utf-t">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    {{ $css := resources.Get "css/main.css" | postCSS }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="bg-dark-bg text-dark-text-secondary font-sans antialiased">

    {{ partial "nav.html" . }}

    <main class="max-w-4xl mx-auto px-4 py-8">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

</body>
</html>

