<nav class="bg-dark-bg/80 backdrop-blur-md sticky top-0 z-50 border-b border-dark-card">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center h-16">
            <a href="{{ .Site.Home.RelPermalink }}" class="text-dark-primary font-mono font-bold text-xl">AGS/></a>

            <div class="hidden md:flex items-center space-x-6">
                {{ range .Site.Menus.main }}
                    <a href="{{ .URL | relLangURL }}" class="text-sm hover:text-dark-primary transition-colors">{{ .Name }}</a>
                {{ end }}
                {{ range .Site.Home.AllTranslations }}
                    <a href="{{ .Permalink }}" class="text-sm font-bold {{ if eq .Language.Lang $.Site.Language.Lang }}text-dark-primary{{ else }}text-dark-text{{ end }}">[{{ .Language.Lang | upper }}]</a>
                {{ end }}
            </div>
            <div class="md:hidden">
                </div>
        </div>
    </div>
</nav>

